* {
    margin: 0;
    padding: 0;
    overflow-x: visible;
}


html, body {
    overflow-x: hidden;
    height: 100%;
    scroll-behavior: smooth;
}
body {
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}
.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: transparent;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}
.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 50%;
    position: fixed;
    left: 0;
    width: 180px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: transparent;
    z-index: 100;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    font-family: Roboto;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
    background-color: #C005D5;
    opacity: 1.0;
     border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255,);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 25px;
    height:25px;
    width: 30px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 5px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 5px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

#landing {
    position: relative;
    height:100vh;
    width: 100%;
}

#landing-img {
    height:  100%;
    opacity: 0.6;
    min-width: 360px;
    position: relative;
    left: 0;
    margin-left: 0;
    max-width: 500px;
  -webkit-box-shadow: 0px 0px 300px 118px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 300px 118px rgba(0,0,0,1);
box-shadow: 0px 0px 300px 118px rgba(0,0,0,1);
}

#landing-title {
    position: absolute;
    left: 50%;
    top: 70%;
    margin-top: -33px;
    margin-left: -160px;
    font-family: Rock Salt;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
    width: 332px;
    max-width: 500px;
    letter-spacing: 2px;
}

.pulse-button {
  position: relative;
  width: 100px;
  height: 100px;
  border: none;
  box-shadow: 5px 2px 15px black;
  border-radius: 50%;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.pulse-button:hover 
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
    
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}

#landing-btn {
    width: 135px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 82%;
    margin-top: -23px;
    margin-left: -76px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 14px;
    text-align: center;
    color: white;
    border-radius: 20px;
    background: transparent;
    border: 2px solid #C005D5;
    
}

#landing-btn:hover {
    background: #C005D5;
    color: white;
    border: 2px solid white;
    border-radius: 5%;
}

#gradient
{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;

}

#lead {
    height:110vh;
    width: 100%;
    background-image: url(img/lead.png);
    background-size: cover;
    background-position: center;
} 

#lead-img {
    visibility: hidden;
    height: 80%;
    width: 80%;
    margin-top: 12vh;
    margin-left: 4vw;
    
}

#lead-title {
    font-family: Roboto;
    font-style: 600;
    font-weight: bold;
    font-size: 3vh;
    line-height: normal;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    margin-top: -90vh;
    margin-left: 30px;
}

#lead-subtitle {
    font-family: Rock Salt;
    font-style: normal;
    font-weight: 400;
    font-size: 7vw;
    line-height: normal;
    text-align: left;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-top: 20px; 
    margin-left: 30px;
    text-shadow: #474747 3px 5px 2px, 3px 17px 2px rgba(0,0,0,0);
}

#lead-para {
    margin: 5px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 100;
    font-size: 4vh;
    line-height: normal;
    letter-spacing: 0.03em;
    color: #FFFFFF;
     margin-top: 50px; 
    margin-left: 30px;
}

#lead-btn {
    margin-top: 5vh;
    margin-left: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: normal;
    letter-spacing: 0.03em;
    color: white;
    background: transparent;
    border: 2px solid #C005D5;
    box-shadow: 1px 2px 15px black;
}

#lead-btn:hover {
    background: #C005D5;
    color: white;
    border: 2px solid white;
    border-radius: 5%;
}   

#info {
    width: 100%;
}

.info-title {
    margin: 10vh 0;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.03em;
    color: #6C4E6F;
    width: 100%;
}

.info-img {
    margin-top: 5vh;
    position: relative;
    left: 50%;
    width: 130px;
    height: 120px;
    margin-left: -60px;
}

.info-para {
    padding: 10px 40px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.03em;
    color: #645D65;
    margin-bottom: 20
}

#info-btn {
    width: 170px;
    height: 55px;
    position: relative;
    left: 50%;
    margin: 10vh 0;
    margin-left: -85px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 14px;
    text-align: center;
    color:black;
    background: transparent;
    letter-spacing: 0.03em;
    border: 3px solid #C005D5;
    border-radius: 30px;
    box-shadow: 2px 2px 2px black;
}

#info-btn:hover {
    background: #C005D5;
    color: white;
    border: 2px solid white;
} 

#stats {
    background-image: url(img/stats.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    background-position: center;
} 

#stats-title {
    font-family: Roboto;
    font-style: 600;
    font-weight: bold;
    font-size: 3vh;
    line-height: normal;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FFFFFF;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    margin-top: 8vh;
    margin-left: 10px;
}

#stats-subtitle {
    font-family: Rock Salt;
    font-style: normal;
    font-weight: 400;
    font-size: 7vw;
    line-height: 180%;
    text-align: left;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-shadow: #474747 3px 5px 2px, 3px 17px 2px rgba(0,0,0,0);
    margin-top: 20px; 
    margin-left: 10px;
}

.stats-num {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 15vh;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
     font-weight: 500;
    margin-top: 12vh;
    padding-bottom: 20px; 
    font-weight: 600;
}

.stats-para {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    font-weight: 200;
}

#stats-btn {
    width: 180px;
    height: 50px;
    position: relative;
    left: 50%;
    margin: 10vh 0;
    margin-left: -90px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 14px;
    text-align: center;
    color: white;
    background: transparent;
    letter-spacing: 0.03em;
     border: 2px solid #C005D5;
    box-shadow: 1px 2px 15px black;
}

#stats-btn:hover {
    background: #C005D5;
    color: white;
    border: 2px solid white;
    border-radius: 5%;
} 

#banner {
    height: 20vh;
    width: 100%;
}

.list-item {
    list-style: none;
    text-align: center;
     font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 3vh;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #000000;
    margin-bottom: 20px;
}

#footer-logo {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    left: 50%;
    margin-left: -26px;
}

@media only screen and (min-width: 600px) {

  
#landing-img {
    height:  100%;
    opacity: 0.6;
    min-width: 0px;
    position: relative;
    left: 50%;
    margin-right: -140px;
    max-width: 60vw;
}
    
#landing-title {
    margin-top: -33px;
    margin-left: -242px;
    font-size: 25px;
    width: 485px;
    max-width: 500px;
}



#landing-btn {
    width: 165px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 82%;
    margin-top: -23px;
    margin-left: -82px;
    font-size: 28px;
}


#lead {
    height:100vh;
} 

#lead-title {
     margin-top: -80vh;
    
    }   
    
#lead-btn {
    font-size: 40px;
}


.info-title {
    margin: 10vh 3vw;
    font-size: 36px;
}


.info-para {
    padding: 10px 30px;
}


#stats-title {
    margin-top: 8vh;
}

#stats-subtitle {
    margin-top: 40px; 
}

.stats-num {
    font-size: 10vh;
    margin-top: 10vh;
    margin-bottom: 0; 
    font-weight: 600;
}


#stats-btn {
    width: 185px;
    height: 66px;
    margin: 10vh 0;
    margin-left: -92px;
    font-size: 28px;
  
}

#banner {
    height: 30vh;
}
  
}

@media only screen and (min-width: 800px) {
    
     
#landing-img {
    height:  100%;
    opacity: 0.6;
    min-width: 450px;
    position: absolute;
    left: 50%;
    margin-left: -225px;
    max-width: 800px;
}
    
#landing-title {
    margin-top: -33px;
    margin-left: -210px;
    font-size: 27px;
    width: 420px;
    max-width: 500px;
    line-height: 1.4;
    top: 65%;
}
    
#landing-btn {
    width: 165px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 82%;
    margin-top: -23px;
    margin-left: -82px;
    font-size: 28px;
}


#lead {
    height:130vh;
    width: 100%;
    background-image: url(img/lead.png);
    background-size: cover;
    background-position: center;
} 

#lead-img {
    visibility: hidden;
     margin-top: -90vh;
    box-shadow: 0px 0px 158px 0px black;
}  
    
#lead-title {
    margin-top: 10vh;
    margin-right: 5vw;
    
}

#lead-subtitle {
    font-size: 5vw;
    line-height: 1.5;
    text-align: left;
    margin-top: 5vh; 
    margin-right: 5vw;
}

#lead-para {
    margin: 5px;
    font-size: 4vh;
    line-height: normal;
    letter-spacing: 0.03em;
     margin-top: 5vh; 
    margin-left: 10px;
}

#lead-btn {
    margin-top: 10vh;
    font-size: 4vh;
    letter-spacing: 0.03em;
    color: white;
    background: transparent;
    margin-left: 10px;
    border: 2px solid #C005D5;
    box-shadow: 1px 2px 15px black;
    padding: 20px;
}

#lead-btn:hover {
    background: #C005D5;
    color: white;
    border: 2px solid white;
    border-radius: 5%;
}   

.info-title {
    margin: 10vh 7vw;
    font-size: 8vh; 
}
    
.info-para {
    padding: 10px 30px;
    font-size: 4vh;
}

#stats-title {
    margin-top: 8vh;
    font-size: 5vh;
    text-align: center;
}

#stats-subtitle {
    margin-top: 40px; 
    font-size: 6vh;
    text-align: center;
}

#banner {
    height: 60vh;
}
  
    
}

@media only screen and (min-width: 970px) {

#lead-img {
    visibility: visible;
     margin-top: 10vh;
}   
}
 
@media only screen and (min-width: 460px) {

    #landing-img {
    height:  100%;
    opacity: 0.6;
    min-width: 450px;
    position: absolute;
    left: 50%;
    margin-left: -225px;
    max-width: 800px;
} 
}
    

